@media screen and (max-width: 680px) {
    .card{
        margin: none;
        padding: 20px 12px;
        width: 100%;
    }
    .search input{
        margin-right: 6px;
        border-radius: 20px;
        height: 36px;
        font-size: 16px;
    }
    .search button{
        width: 25px;
        height: 25px;
    }
    .search button img{
        width: 14px;
    }

    .weather-img{
        width: 90px;
    }
    .weather h1{
        font-size: 48px;
    }
    .weather h2{
        font-size: 18px;
    }

    .city-details{
        margin: -32px 0 0 0;
    }
    .metric-temp-details, .imperial-temp-details{
        display: block;
    }
    .temp-row{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 12px;
    }

    .col{
        /* width: 30%; */
        display: flex;
        align-items: center;
        text-align: left;
    }
    .col img{
        width: 24px;
    }
    .fa-compass, .fa-gauge{
        font-size: 24px;
        width: 24px;
        border: 1px solid red;
    }
    .humidity, .wind, .coordinates, .pressure{
        font-size: 18px;
        border: 1px solid red;
    }
    .humidity-name, .wind-name, .cooordinate-name, .pressure-name{
        font-size: 18px;
    }
  }

  @media screen and (max-width: 320px){

    .search input{
        height: 30px;
    }
    .search button{
        width: 30px;
        height: 30px;
    }

    .weather h1{
        font-size: 48px;
    }
    .weather h2{
        font-size: 20px;
    }
    .col img{
        width: 18px;
    }
    .humidity, .wind{
        font-size: 18px;
    }
    .humidity-name, .wind-name{
        font-size: 12px;
    }

  }