* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #222;
}

.card {
    margin: 5vh auto 0;
    padding: 40px 35px;
    width: 90vw;
    background: linear-gradient(135deg, #1bffc2, #5f548a);
    color: #fff;
    border-radius: 20px;
    text-align: center;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 12px;
}

.search input {
    margin-right: 16px;
    padding: 10px 25px;
    flex: 1;
    border: none;
    outline: none;
    background-color: #ebfffc;
    color: #555;
    border-radius: 30px;
    height: 60px;
    font-size: 18px;
}
.fa-xmark{
    position: absolute;
    color: #717171;
    right: 30%;
}

.search-button{
    border: none;
    outline: none;
    background: #ebfffc;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.search button img{
    width: 24px;
}

.degree-buttons{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}
.metric{
    border-right: 2px solid #ebfffc;
}
.degree, .search p{
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: #ebfffc;
}
.degree:hover{
    color: #dcf0ed;
}

.error{
    padding: 10px;
    display: none;
    text-align: left;
    font-weight: 100;
    font-size: 24px;
}
.weather{
    display: none;
    align-items: center;
    justify-content: space-evenly;
}

.weather-img{
    margin: 30px 0 0 0;
    width: 170px;
}

.weather h1{
    font-size: 80px;
    font-weight: 700;
}

.weather h2{
    margin: -10px 0 0 0;
    font-size: 45px;
    font-weight: 400;
}

.metric-temp-details{
    margin: 10px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 16px;
}

.imperial-temp-details{
    margin: 10px 0 0 0;
    display: none;
    align-items: center;
    justify-content: space-evenly;
    gap: 16px;
}

.imperial-temp{
    display: none;
}

.details{
    margin: 50px 0 0 0;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.col{
    /* width: 30%; */
    display: flex;
    align-items: center;
    text-align: left;
}

.col img, .fa-compass, .fa-gauge{
    margin: 0 10px 0 0;
    width: 40px;
}
.fa-compass, .fa-gauge{
    font-size: 40px;
}

.humidity, .wind, .coordinates, .pressure{
    margin: -6px 0 0 0;
    font-size: 28px;
}